[DEVICE]
DEVICE_NAME = ABCD-1234

[REST]
REST_URL = https://rehapiano.devapp.sk/api/auth/device?deviceCode=ABCD-1234&apiKey=test

[WEBSOCKET]
WS_URL = wss://rehapiano.devapp.sk/api/ws/device/
LOCAL_WS_URL = ws://localhost:8000

[REHAPIANO]
# RP_URL = ws://localhost:8080
RP_URL = ws://localhost:8080
LOCAL_RP_URL = ws://localhost:8005
RP_INVALID_VAL = 10
